#infos , #sous_titre , #offres , #bloc_right , #offre_du_moment, #who, #nos_shop, #acces_rapide, #siege {
    display: none;
}

#nouveaux_produits aside{
    display: none;
}

#nouveaux_produits #second_part {
    display: none;
}
#enseigne h1{
    display: none;
}

#nouveaux_produits {
    width: 100%;
}

#nouveaux_produits article {
    text-align: center;
    display: block;
    margin: auto;
}